doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/docs.min.css')
    link(rel='stylesheet', href='/css/patch.css')
    script(src='/javascripts/jquery-1.11.1.min.js')
    script(src='/javascripts/user.js')
  body
    block content